/* A D D    -----    P A G E */

.addSection{
    width: 100%;
    min-height: 500px;
    font-family: 'Playfair Display', serif;
}
.form{
    width:70%;
    margin: 0 auto;
    min-height: 500px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5), -1px -1px 5px rgba(0,0,0,0.5);
    padding: 50px ;
    text-align: center;
}
.form .input{
    display: block;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    width:100%;
    margin: 15px auto 15px auto;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.options{
    display: block;
    min-width:200px;
    margin: 0 auto;
    padding: 10px;
    background:rgba(212, 144, 144, 0.3); 
    text-transform: capitalize;
}
.btn-add{
    display: block;
    min-width:150px;
    float: right;
    padding: 10px;
    margin-top: 2%;
    background:rgb(207, 48, 32);
    border:none;
    outline: none;
    color:#fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
}
