*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a{
    color: black;
	text-decoration: none;
}
ul{
    list-style: none;
}
/*   G E N E R A L    ----    S T Y L E   */
header{
    display: flex;
	justify-content:space-between;
	height: 100px;
	border-bottom: 3px solid red;
	padding: 50px 100px 0px 100px;
}
header .logo-section img{
	width: 300px;
}
header a{
	font-weight: bold;
	height: 3;
	letter-spacing: 2px;
	font-size: 20px;
	text-transform: capitalize;
}
main{
	margin-top: 5%;
}
main .view{
	width: 60%;
	padding: 10px;
	margin: 0 auto;
}
/* drop down*/
.mainul .services{
	position:relative;
}
/*by default drop down menu is hidden*/
.services .dropdown{
	display:none;
}
/* when hover on services link, the dropdown menu appear */
.view-section:hover .dropdown{
	display:block;
}
/*dropdown menu design*/
.services .dropdown{
	position:absolute;
	top:25px;
	left:-10px;
	background-color: rgba(212, 144, 144, 0.3);	
	min-width:150px;
	min-height: 200px;
	border:1px solid red;
	padding-top: 20px;
}
.services .dropdown .ili{
	width:100%;
	text-indent: 5px;
	padding: 10px 5px;
	transition: text-indent 0.5s ease; /*nice hover*/
}
.services .dropdown li:hover{
	background-color: ;
	text-indent: 10px;
}
.services .dropdown li:hover a{
	color: #;
}
.services .dropdown a{
	color:  ;
	display: inline-block;
}